# --- Global ---
pandas
numpy
openpyxl

# --- Analyse & Notebooks ---
nbformat
matplotlib
seaborn

# --- Modélisation ---
scikit-learn
xgboost
tqdm
optuna
joblib

# --- Dashboarding (UI & Visualisation) ---
streamlit
plotly
